<?xml version="1.0"?>
<config>
    <modules>
       <PSC_Backoffice>
            <version>0.1.0</version>
       </PSC_Backoffice>
    </modules>
    <global>
        <helpers>
            <backoffice>
                <class>PSC_Backoffice_Helper</class>
            </backoffice>
        </helpers>
        <blocks>
            <backoffice>
                <class>PSC_Backoffice_Block</class>
            </backoffice>
        </blocks>
        <models>
            <backoffice>
                <class>PSC_Backoffice_Model</class>
            </backoffice>
        </models>

        <resources>
            <backoffice_setup>
                <setup>
                    <module>PSC_Backoffice</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </backoffice_setup>
            <backoffice_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </backoffice_write>
            <backoffice_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </backoffice_read>
        </resources>
    </global>
    <frontend>
        <secure_url>
            <backoffice_standard>/backoffice/</backoffice_standard>
        </secure_url>
        <routers>
            <backoffice>
                <use>standard</use>
                <args>
                    <module>PSC_Backoffice</module>
                    <frontName>backoffice</frontName>
                </args>
            </backoffice>
			
			<checkout>
                <args>
                    <modules>
                         <PSC_Backoffice before="Mage_Checkout">PSC_Backoffice_Checkout</PSC_Backoffice>
                    </modules>
                </args>
            </checkout>
			
        </routers>
        <translate>
            <modules>
                <PSC_Backoffice>
                    <files>
                        <default>PSC_Backoffice.csv</default>
                    </files>
                </PSC_Backoffice>
            </modules>
        </translate>
        <layout>
            <updates>
                <backoffice>
                    <file>backoffice.xml</file>
                </backoffice>
				 <checkout>
                        <file>methods2.xml</file>
                  </checkout>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
        <translate>
            <modules>
                <PSC_Backoffice>
                    <files>
                        <default>PSC_Backoffice.csv</default>
                    </files>
                </PSC_Backoffice>
            </modules>
        </translate>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <backoffice translate="title" module="backoffice">
                                            <title>Paysite-cash (Credit Card/Carte Bancaire)</title>
                                            <sort_order>50</sort_order>
                                        </backoffice>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>    
    <default>
        <backoffice>
            <main>
                <active>1</active>
                <model>backoffice/standard</model>
            </main>
        </backoffice>
        <payment>
            <backoffice_standard>
                	<active>1</active>
                    <model>backoffice/standard</model>
                    <title>Paysite-cash (Credit Card/Carte Bancaire)</title>
					<order_status>pending_payment</order_status>
					<psc_idsite></psc_idsite>
					<portal>1</portal>
					<psc_testmode>1</psc_testmode>
					<success_order_status>processing</success_order_status>
					<psc_debugmode>1</psc_debugmode>
                    <payment_action>Sale</payment_action>
                    <line_items_enabled>1</line_items_enabled>
                    <allowspecific>0</allowspecific>
            </backoffice_standard>
        </payment>
    </default>
</config>
