.svn
.git
app/etc/local.xml
app/etc/config.xml
var/cache/*
var/session
media/catalog
media/em_slideshow
media/em_layerednavigation
media/export
media/import
var/log/*
var/locks
var/report/
sitemap.xml
downloader/.cache
