.cms-index-index .area4-featured{border-bottom: 1px solid /*BEGIN:line_third_color*/#e1e1e1/*END:line_third_color*/;border-top: 1px solid #e1e1e1;}
.area4-featured{ padding-bottom:0; margin:5px 0 30px 0;}

.products-grid li.item {/* padding:15px; margin:0 22px 0 0;*/ -webkit-transition:box-shadow 0.2s linear; margin-bottom:10px;text-align: center}
li.item button.button.btn-cart span{font-size:14px; }

.sidebar {padding: 2px; border: 1px solid /*BEGIN:secondary_bgcolor*/#f1f1f1/*END:secondary_bgcolor*/}
.block-layered-nav .block-content {padding:0px}
.block-layered-nav .block-content dt {background-color: /*BEGIN:secondary_bgcolor*/#f1f1f1/*END:secondary_bgcolor*/; padding: 2px}
.block-layered-nav .block-content dd {padding: 2px}
.toolbar {padding: 2px; border: 1px solid /*BEGIN:secondary_bgcolor*/#f1f1f1/*END:secondary_bgcolor*/; height: 30px}
.btn-remove { background-size: 20px 20px;}
#narrow-by-list .btn-remove {margin-top: 4px}
#nav li a.level-top {border-right: 1px solid;font-weight: bold}
#nav li.last a.level-top {border-right: 0px;}
.header .header-top-right .toolbar-switch { padding-top: 2px;}
.block-cart-top .block-title a {background-position: 4px -43px;}
.header {padding: 0px 0px 0px 0px}
/*.container, .navbar-static-top .container, .navbar-fixed-top .container, .navbar-fixed-bottom .container { width: 99%; padding: 0px 5px 0px 5px}*/

a { color:/*BEGIN:primary_color*/#005cb9/*END:primary_color*/; -webkit-transition:color 0.2s linear }
a:hover{color:/*BEGIN:secondary_color*/#e50000/*END:secondary_color*/;}
@media (min-width: 768px) {
.header .logo {position: absolute;padding-top: 3px;}
.header .welcome-msg { padding-left: 130px;padding-top: 15px;font-weight: bold}
}
@media (max-width: 768px) {
.header .logo {position: relative;padding-top: 3px;overflow: hidden}
.header .welcome-msg {display: none}
}
/* jQuery Countdown styles 1.6.3. */
.hasCountdown {
	border: 1px solid #ccc;
	background-color: #eee;
}
.countdown_rtl {
	direction: rtl;
}
.countdown_holding span {
	color: #888;
}
.countdown_row {
	clear: both;
	width: 100%;
	padding: 0px 2px;
	text-align: center;
}
.countdown_show1 .countdown_section {
	width: 98%;
}
.countdown_show2 .countdown_section {
	width: 48%;
}
.countdown_show3 .countdown_section {
	width: 32.5%;
}
.countdown_show4 .countdown_section {
	width: 24.5%;
}
.countdown_show5 .countdown_section {
	width: 19.5%;
}
.countdown_show6 .countdown_section {
	width: 16.25%;
}
.countdown_show7 .countdown_section {
	width: 14%;
}
.countdown_section {
	display: block;
	float: left;
	font-size: 75%;
	text-align: center;
}
.countdown_amount {
	font-size: 200%;
}
.countdown_descr {
	display: block;
	width: 100%;
}

.defaultCountdown { max-width: 200px; height: 40px; }
.tab_content .box-collateral div.std h2 {display: block}
