.cms-index-index .area4-featured{border-bottom: 1px solid /*BEGIN:line_third_color*/#e1e1e1/*END:line_third_color*/;border-top: 1px solid #e1e1e1;}
.area4-featured{ padding-bottom:0; margin:5px 0 30px 0;}

.products-grid li.item {/* padding:15px; margin:0 22px 0 0;*/ -webkit-transition:box-shadow 0.2s linear; margin-bottom:10px;text-align: center}
li.item button.button.btn-cart span{font-size:14px; }

.sidebar {padding: 0px; border-right: 1px solid /*BEGIN:general_color*/#202020/*END:general_color*/}
.block-layered-nav .block-content {padding:0px}
.block-layered-nav .block-content dt {background-color: /*BEGIN:secondary_bgcolor*/#f1f1f1/*END:secondary_bgcolor*/; padding: 2px}
.block-layered-nav .block-content dd {padding: 2px}