<?xml version="1.0"?>
<config>
	<modules>
		<Conlabz_Mreport>
			<version>1.0.4</version>
		</Conlabz_Mreport>
	</modules>
	<global>
		<models>
			<mreport>
				<class>Conlabz_Mreport_Model</class>
			</mreport>
		</models>
		<blocks>
			<mreport>
				<class>Conlabz_Mreport_Block</class>
			</mreport>
		</blocks>
		<helpers>
			<mreport>
				<class>Conlabz_Mreport_Helper</class>
			</mreport>
		</helpers>
	</global>
	<admin>
        <routers>
        	<mreport>
				<use>admin</use>
				<args>
					<module>Conlabz_Mreport</module>
					<frontName>mreport</frontName>
				</args>
			</mreport>
        </routers>
    </admin>
    <adminhtml>
    <menu>
		<report>
			<children>
				<exportorders>
					<title>Export Orders</title>
					<sort_order>2</sort_order>
					<action>mreport/adminhtml_export/index</action>
				</exportorders>
			</children>	
		</report>
		</menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<report>
							<children>
							    <exportorders>
                                    <title>Export Orders</title>
                                    <sort_order>1</sort_order>
                                </exportorders>
                            </children>   
						</report>
					</children>
				</admin>
			</resources>
		</acl>
    	<translate>
      		<modules>
        		<Conlabz_Mreport>
          			<files>
            			<default>Conlabz_Mreport.csv</default>
          			</files>
        		</Conlabz_Mreport>
      		</modules>
    	</translate>
  	</adminhtml>
</config>